*{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(247, 247, 243);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
.wname{
    color:rgb(230, 115, 7);
}
.form-group {
    margin-bottom: 20px;
    align-content: center;
}
.form-group label {
    display: inline-block;
    font-weight: bold;
}
.form-group input {
    display:inline;
    width: 95%;
    padding: 10px;
    border: 1px solid rgb(230, 115, 7);
    border-radius: 5px;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(230, 115, 7);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}